@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Matterhorn";
  src: url("https://static-mh.content.disney.io/matterhorn/assets/m4-7e766c2825c7.eot#")
      format("eot"),
    url("https://static-mh.content.disney.io/matterhorn/assets/m4-b366701d6945.woff")
      format("woff"),
    url("https://static-mh.content.disney.io/matterhorn/assets/m4-ac909dff444f.ttf")
      format("truetype"),
    url("https://static-mh.content.disney.io/matterhorn/assets/m4-3d636e3b4270.svg#Matterhorn")
      format("svg");
  font-weight: 400;
  font-style: normal;
}

.strokeme {
  color: #b5b7b7;
  background-color: transparent;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.underline-on-hover:hover {
  margin-bottom: -10px;
  text-decoration: underline;
}
